/* Some overrides necessary for the blog. */

body {
  font-size: 15px;
}

header nav {
  padding-top: 45px;
}

header .language {
  display: none;
}

#content {
  line-height: 1.8;
}

.entry-content img {
  max-width: 100%;
  height: auto;
}

ul.collapsing.archives.list, ul.collapsing.archives.list ul {
  list-style-type: none;
}

